Source: galliumos-braswell
Section: admin
Priority: required
Maintainer: reynhout <reynhout@galliumos.org>
XSBC-Original-Maintainer: reynhout <reynhout@galliumos.org>
Standards-Version: 3.9.1

Package: galliumos-braswell
Architecture: all
Priority: required
Depends: galliumos-base
Provides: galliumos-device
Conflicts: galliumos-sandy, galliumos-haswell, galliumos-broadwell, galliumos-baytrail, galliumos-skylake, galliumos-samus
Replaces: pulseaudio, galliumos-baytrail
Description: GalliumOS Braswell customizations
 This package contains Braswell-specific files for GalliumOS
